RewriteEngine On
# RewriteCond %{REQUEST_URI}  !(\.png|\.jpg|\.webp|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js|\.pdf)$
# RewriteRule (.*) routes.php [QSA,L]

RewriteRule ^api-search$                    /apis/api-search.php [NC,L]

RewriteRule ^api-get-item$                  /apis/api-get-item.php [NC,L]

RewriteRule ^$                              /pages/page-index.php [NC,L]

RewriteRule ^page-map$                      /pages/page-map.php [NC,L]

RewriteRule ^contact-us$                    /pages/page-contact-us.php [NC,L]

RewriteRule ^about-us$                      /pages/page-about-us.php [NC,L]

RewriteRule ^api-mark-item-sold$            /apis/api-mark-item-sold.php [NC,L]


